.navbar{
  background-color: #33A0D9;
}

.navbar, .btn{
  
  color: black;
  
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
font-size: 1.2rem;
}
.NAVBTN{
  background-color: white;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#navbarNav .nav-link{
  color: black;
  
font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
font-size: 1.2rem;
}
.nav-item{
  margin: 0 30px;
}
.navbar-brand{
  margin: 0 2rem;
}
.home {
  background-image:linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.815)), url('https://images.unsplash.com/photo-1633113088092-3460c3c9b13f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  background-size: cover;
  height: 100vh;
}
.homeh2{
  color: black;
  font-family: 'Poppins', sans-serif;
  width: 60%;
}
.row{
  margin: 0;
}
input{
  background-color: transparent;
  border:3px solid black;
}
.RESET{
  color: white;
}
footer{
  width: 100%;
  background-color: #33A0D9;
  height: 4rem;
}
.footer-link li .nav-link{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
font-weight: bold;
font-size: 1.2rem;
}
@media only screen and (max-width: 769px) {
  .homeh2{
    font-size: 2rem;
  }
}